.loading{
    width:100%;
    height:100%;
    position:fixed;
    background:#fff;
    z-index:1000;
    text-align: center;
    align-items: center;
}
.loading-text{
    font-size: 1.5vh;
}
.loading-bar{
    height: 3vh;
    width: 40vh;
    border: 0.3vh solid black;
    margin:0 auto;
    margin-top: 45vh;
    border-radius: 1.5vh;
}
.gauge{
    margin-top: 0.3vh;
    margin-left: 0.3vh;
    height: 2.4vh;
    width: 1vh;
    border-radius: 1.5vh;
    background-color: greenyellow;
}
#before{
    padding-top: 49.5vh;
    position: absolute;
}
#done{
    padding-top: 49.5vh;
    position: absolute;
    opacity: 0;
}