<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="desciption" content="상업적인 용도가 아닌 개인용 포트폴리오로 무단 복제는 삼가주시기 바랍니다.">
  <meta name="keywords" content="포트폴리오">
  <meta name="author" content="hyeon-jinhyeok">
  <link href="icon.ico" rel="shortcut icon" type="image/x-icon">
  <title>현진혁의 포트폴리오</title>
  <link href="laydesign.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="video_back">
            <video autoplay muted loop>
                <source src="clouds.mp4">
            </video>
        </div>
        <div class="intro_text">
            <div class="details">
                <div class="detail-left">
                    jinhyeok's portfolio
                </div>
                <div class="detail-right">
                    web publisher
                </div>
            </div>
            <h1 class="intro">
                unfinished portfolio website
            </h1>
        </div>
    </header>
    <section>
        <article class="information">
            about me
        </article>
        <article class="skill">
            skills
        </article>
        <article class="project">
            project
        </article>
    </section>
    <footer>
        contact
    </footer>
</body>
</html>
